
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Poppins, sans-serif;
  background: #0b1023;
  color: white;
}

/* HEADER */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
}

.logo {
  display: flex;
  gap: 10px;
  align-items: center;
}

.logo-circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid gold;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  display: flex;
  gap: 20px;
}

nav a {
  color: white;
  text-decoration: none;
}

/* HERO */
.hero {
  text-align: center;
  padding: 50px 20px;
}

.hero h2 {
  font-family: Cinzel;
  font-size: 50px;
}

/* SERVICES */
.services {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
}

/* CARD */
.card {
  background: rgba(255,255,255,0.03);
  border-radius: 15px;
  overflow: hidden;
  border: 1px solid rgba(255,255,255,0.1);
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-8px);
  box-shadow: 0 10px 30px rgba(168,85,247,.3);
}

/* IMAGE */
.card-image {
  height: 160px;
  overflow: hidden;
}

.card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* CONTENT */
.card-content {
  padding: 15px;
  text-align: center;
}

.card-content h3 {
  margin-bottom: 10px;
}

/* BUTTON */
.glow-btn {
  padding: 10px 20px;
  border-radius: 10px;
  border: 1px solid #a855f7;
  background: transparent;
  color: white;
  cursor: pointer;
}

.bottom-button {
  margin-top: 30px;
  padding: 10px 20px;
  border-radius: 12px;
  border: 1px solid #a855f7;
  background: rgba(168,85,247,.15);
  color: white;
  cursor: pointer;
  transition: 0.3s;
  align-items: center;
  align-self: center;

}

.bottom-button:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px #a855f7;
  

}



.avis-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px; /* 👈 ESPACE ENTRE CHAQUE AVIS */
  max-width: 1000px;
  margin: auto;
}

.avis {
  padding: 20px;
  border-radius: 15px;

  background: rgba(255,255,255,0.03);
  border: 1px solid rgba(168,85,247,.2);

  text-align: center;

  transition: 0.3s ease;
}

.avis:hover {
  transform: translateY(-8px);
  box-shadow: 0 10px 30px rgba(168,85,247,.3);
}


.glow-title {
  font-family: 'Cinzel', serif;
  color: #f3e8ff;
  text-shadow:
    0 0 10px #a855f7,
    0 0 20px #c084fc,
    0 0 40px #7e22ce,
    0 0 80px #a855f7;

  animation: glowPulse 2s infinite ease-in-out;
}



@keyframes glowPulse {
  0% {
    text-shadow: 0 0 5px #a855f7;
  }
  50% {
    text-shadow: 0 0 25px #c084fc, 0 0 60px #7e22ce;
  }
  100% {
    text-shadow: 0 0 5px #a855f7;
  }
}



